<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation for user</title>
</head>
<body>
<center>
    <h1>View Details</h1>
    <table>
        <tr>
            <th><h3>Name</h3></th>
            <th><h3>Address</h3></th>
            <th><h3>Username</h3></th>
            <th><h3>Password</h3></th>
            <th><h3>Status</h3></th>
            <th><h3>Action</h3></th>
        </tr>
        {% for i in value %}
        <tr>
            <td>{{i.Name}}</td>
            <td>{{i.Address}}</td>
            <td>{{i.Username}}</td>
            <td>{{i.Password}}</td>
            <td>{{i.Status}}</td>
            <td>
                <a href = "/edituser/{{i.id}}">Edit</a>
                <a href = "/deleteuser/{{i.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    {{data.Name}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Address</label>
                </td>
                <td>
                    <input type="text" name="address" value="{{data.Address}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Username</label>
                </td>
                <td>
                    {{data.Username}}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="text" name="password" value="{{data.Password}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Status</label>
                </td>
                <td>
                    {{data.Status}}
                </td>
            </tr>
            <tr>
                <td>
                <input type="submit" value="update">
                </td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>